<div id="donntu">
  <a href="http://donntu.ru" target="_blank"><img src="{{ page.data.relpath }}images/icons/university.png" title="DonNTU"align="middle"></a>
  &nbsp;<a href="http://masters.donntu.ru" target="_blank"><img src="{{ page.data.relpath }}images/icons/masters.png" title="Masters' portal" align="middle"></a>
</div>