<div id="donntu">
  <a href="http://donntu.ru" target="_blank"><img
      src="{{ page.data.relpath }}images/icons/university.png"
      title="ДОННТУ"
      align="middle"></a>
  &nbsp;
  <a
    href="http://masters.donntu.ru"
    target="_blank"
    title="Перейти на портал магистров ДОННТУ"><img
      src="{{ page.data.relpath }}images/icons/masters.png"
      title="Портал магистров"
      align="middle"></a>
</div>