<div id="donntu">
  <a href="http://donntu.ru" target="_blank">ДОННТУ</a> &nbsp;
  <a href="http://masters.donntu.ru" target="_blank" title="Перейти на портал магистров ДОННТУ">Портал магистров</a>
</div>
