<div id="menub">
    <a class="mitemb" href="{{ page.data.relpath }}indexe.htm">Resume</a>
    {% unless site.data.ignore.en.diss %}
        <a class="mitemb" href="{{ page.data.relpath }}diss/indexe.htm">Abstract</a>
    {% endunless %}
</div>
