<nav id="navbar">
  <ul class="en">
    <li><a {% if page.title == "Resume" %} class="active" {% else %} href="{{ page.data.relpath }}indexe.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/resume.png" align="middle" />Resume</a></li>
    <li><a {% if page.title == "Abstract" %} class="active" {% else %} href="{{ page.data.relpath }}diss/indexe.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/report.png" align="middle" />Abstract</a></li>
  </ul>
</nav>
